.fund {
  text-align: center;
}
.banner {
  background-image: url("../../assets/image/cover.jpg");
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fund .title {
  color: var(--color-pink-dark);
  margin: 10px auto;
}
.title_image {
  width: 10rem;
  height: 12rem;
}
.fund__content {
  background-color: var(--color-grey-dark-4);
  padding: 6rem 0;
}
.fund-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-gap: 5rem 5rem;
}
.pagination {
  margin: 50px auto 0 auto;
  display: inline-block;
}
.pagination span {
  cursor: pointer;
  color: black;
  float: left;
  font-size: 2rem;
  padding: 8px 20px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination span.active {
  background-color: var(--color-blue-sky);
  color: white;
  border: 1px solid var(--color-grey-dark-4);
}
