@import "../../assets/sass/button";
@import "../../assets/sass/animation";
.coupon_item {
  display: flex;
  flex-direction: column;
  width: 32rem;
  height: 32rem;
  background-color: var(--color-white);
  box-shadow: var(--shadow-light-1);
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
  opacity: 0;
  animation: fadeIn 2s forwards;
  img {
    width: 100%;
    height: 180px;
  }
  &__title {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 10px auto;
    color: var(--color-orange-dark);
  }
  &__description {
    font-size: 1.5rem;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    p {
      font-size: 1.4rem;
      margin-right: 20px;
      text-transform: uppercase;
    }

    .btn {
      background-color: var(--color-blue-sky);
      color: var(--color-white);
      font-weight: bold;
    }
  }
}
